<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
</head>

<body>
    <h3>Meus posts:</h3>
    <% myPosts.forEach(function(post) { %>
        <p>ID: <%= post.id %>
        </p>
        <p>Username: <%= post.username %>
        </p>
        <p>Content: <%= post.content %>
        </p>
        <p>Created At: <%= post.createdAt %>
        </p>
        <p>Updated At: <%= post.updatedAt %>
        </p>
        <hr>
        <% }); %>

            <h3>Todos os posts:</h3>
            <% posts.forEach(function(post) { %>
                <p>ID: <%= post.id %>
                </p>
                <p>Username: <%= post.username %>
                </p>
                <p>Content: <%= post.content %>
                </p>
                <p>Created At: <%= post.createdAt %>
                </p>
                <p>Updated At: <%= post.updatedAt %>
                </p>
                <hr>
                <% }); %>
</body>

</html>