<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome-views.css">
    <title>Q/A</title>
</head>
<body>
    <div class="welcome">
        <h1>Meus posts:</h1>
        <button><a href="/postzao">Criar post!</a></button>
        <% myPosts.forEach(function(post) { %>
            <p>Content: <%= post.content %></p>
            <p>createdAt: <%= post.createdAt %></p>
            <p>updatedAt: <%= post.updatedAt %></p>
            <!-- <button><a href="/editPost/<%= post.id %>">Edit</a></button>
            <button onclick="deletePost('<%= post.id %>')">Delete</button> -->
        <% }); %>  
    
        <h3>Todos os posts:</h3>
        <% posts.forEach(function(post) { %>
            <p>ID do usuário que criou: <%= post.userId %></p>
            <p>Content: <%= post.content %></p>
            <img class="avatar" src="https://github.com/<%= avatar %>.png" alt="">
            <% if (Number(post.userId) === id) { %>
                <form action="/editPost/<%= post.id %>" method="post">
                    <label for="content">Content:</label>
                    <textarea id="content" name="content"><%= post.content %></textarea>
                    <input type="submit" value="Edit">
                </form>
                <button onclick="deletePost('<%= post.id %>')">Delete</button>
            <% } %>
            <p>----------------</p>
        <% }); %>
    </div>
    
    
    <script>
        function deletePost(id) {
            if (id) {
                fetch('/deletePost/' + id, { method: 'DELETE' })
                .then(res => {
                    if (res) {
                        window.location.reload();
                    } else {
                        alert('Error deleting post');
                    }
                });
            }
        }
    </script>
</body>
</html>